@{
    ViewBag.Title = "EğitimRaporları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TBBEgitim.Models.EgitimRaporlariViewModel

<h2>Eğitim Raporları</h2>
<div style="gap:8%;">
    <div id="katGoreEgitim" style="width: 45%; height: 300px; display: inline-block;"></div>
    <div id="kontGoreEgitim" style="width: 45%; height: 300px; display: inline-block;"></div>
</div>

<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
        // İlk grafik (Kategorilere göre eğitimler)
        var katChartData = [['Kategori', 'Eğitim Sayısı']];

        @foreach (var item in Model.KategoriRaporlari)
        {
            @:katChartData.push(['@Html.Raw(item.KategoriAdi)', @item.EgitimSayisi]);
        }

        var katData = google.visualization.arrayToDataTable(katChartData);

        var katOptions = {
            title: 'Kategorilere Göre Eğitimler',
            pieHole: 0,
            backgroundColor: '#F8F9FA',
        };

        var katChart = new google.visualization.PieChart(document.getElementById('katGoreEgitim'));
        katChart.draw(katData, katOptions);

        //ikinci grafik (Kategorilere Göre Kontenjan Durumu)
        var kontChartData = new google.visualization.DataTable();
        kontChartData.addColumn('string', 'Kategori');
        kontChartData.addColumn('number', 'Toplam Kontenjan');
        kontChartData.addColumn('number', 'Kalan Kontenjan');

        @foreach (var item in Model.KontenjanRaporlari)
        {
            @:kontChartData.addRow(['@Html.Raw(item.KategoriAdi)', @item.ToplamKontenjan, @item.KalanKontenjan]);
        }

        var kontOptions = {
            title: 'Kategorilere Göre Kontenjan Durumu',
            bars: 'horizontal',
            chartArea: {width: '50%'},
            hAxis: {
                title: 'Kontenjan Sayısı',
                minValue: 0
            },
            vAxis: {
                title: 'Kategoriler'
            },
            colors: ['#4285F4', '#34A853'],
            backgroundColor: '#F8F9FA'
            
        };

        var kontChart = new google.visualization.BarChart(document.getElementById('kontGoreEgitim'));
        kontChart.draw(kontChartData, kontOptions);
    }

</script>