@{
    ViewBag.Title = "Yedekleme Kayıtları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<TBBEgitim.Models.BackupLog>
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.4/css/buttons.dataTables.css" />
<link rel="stylesheet" href="~/Styles/dataStil.css" />
<main aria-labelledby="Yedekleme Kayıtları">
    <h2 id="basvurular">@ViewBag.Title</h2>
    <div class="table-responsive">
        <table class="table table-striped" id="logTable">
            <thead id="tablo-başlık">
                <tr>
                    <th>Dosya Adı</th>
                    <th>Kayıt Tarihi</th>
                    <th>Kayıt Saati</th>
                    <th>İşlem Başarısı</th>
                </tr>
            </thead>
            <tbody class="tablo-içerik">
                @foreach (var log in Model)
                {
                    <tr>
                        <td>@log.DosyaAdi</td>
                        <td>@log.KayitTarihi</td>
                        <td>@log.KayitSaati</td>
                        <td>@log.Basarili </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>


@section Scripts {
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.print.min.js"></script>
    <script>
        var table = new DataTable('#logTable', {
            layout: {
                topStart: {
                    buttons: ['excel', 'pdf']
                }
            },
            language: {
                url: '//cdn.datatables.net/plug-ins/2.3.2/i18n/tr.json',
            },
        });
    </script>
}